@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero-section {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 50px 15%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

/* 3. The Signup Button */
.signup {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 900;
    cursor: pointer;
}

.info-section {
    padding: 60px 15%;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.card p {
    color: #555;
    font-size: 16px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 80px 20%;
    display: flex;
    justify-content: center;
}

.quote-section p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.action-container {
    padding: 80px 15%;
    display: flex;
    justify-content: center;
}

.action-banner {
    background-color: #3882F6;
    padding: 40px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.action-text h3 {
    color: #F9FAF8;
    font-size: 24px;
    margin-bottom: 5px;
}

.action-text p {
    color: #E5E7EB;
}

.button2 {
    background-color: transparent;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 8px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px;
    text-align: center;
}
