@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero-container{
    background-color: #1F2937;
    padding: 50px 15%;
    margin-bottom: 70px;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}
.nav_link ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav_link a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}
.hero_section{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 20px;
}
.hero_text h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero_section p{
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}
.button_hero{
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 7px 30px;
    border-radius: 20cap;
    cursor: pointer;
}
.info_section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    padding-bottom: 20px;
}
.cards_container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 40px;
}
.cards{
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.square{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 8%;
}
.cards p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 16px;
    text-align: center; 
    padding-bottom: 50px;
}
.quote_section{
    background-color: #E5E7EB;
    padding: 80px 20%;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}
.quote_text p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.auth{
    font-size: 25px;
    text-align: right;
    font-weight: 900;
}
.call{
    background-color: #3882F6;
    margin: 30px 15%;
    margin-bottom: 70px;

}
.call-action{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}
.call-content h2{
    font-size: 25px;
    color: #F9FAF8;
    font-weight: 600;
}
.call-content p{
    font-size: 18px;
    color: #F9FAF8;
}
.button_action{
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #F9FAF8;
    padding: 7px 20px;
    border-radius: 50cap;
    cursor: pointer;
}
footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 30px 15%;
}